* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}


html {
  scroll-behavior:smooth;
}


body {

  font-family:'Inter', sans-serif;

  background:#0f172a;

  color:white;

  width:100%;

  overflow-x:hidden;

}


#app {

  width:100%;

  min-height:100vh;

}


a {

  text-decoration:none;

  color:inherit;

}


.container {

  width:90%;

  max-width:1200px;

  margin:0 auto;

}